form .form-group .form-fields button.limits--button {
    font-size: var(--font-size-12);
    flex: 1;
}

form.limits--form>fieldset {
    margin: 0 0 6px 0;
}

.detection-modes.limits--detection-modes {
    margin: 0;
}

.detection-modes.limits--detection-modes .detection-mode {
    margin: 0 0 0.25rem;
    align-items: center;
}

.detection-modes.limits--detection-modes header.detection-mode .detection-mode-id {
    font-weight: normal;
    font-size: var(--font-size-12);
    color: var(--color-text-dark-secondary);
}

.detection-modes.limits--detection-modes header.detection-mode .detection-mode-range {
    font-weight: normal;
    font-size: var(--font-size-12);
    color: var(--color-text-dark-secondary);
}

.detection-modes.limits--detection-modes header.detection-mode .detection-mode-enabled {
    font-weight: normal;
    font-size: var(--font-size-12);
    color: var(--color-text-dark-secondary);
}

.detection-modes.limits--detection-modes header.detection-mode .detection-mode-range {
    display: inline-block !important;
}

.detection-modes.limits--detection-modes .detection-mode .detection-mode-range {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.detection-modes.limits--detection-modes .detection-mode .limits--detection-units {
    font-size: var(--font-size-12);
    color: var(--color-text-dark-secondary);
    flex: 0;
}

form.limits--form input[type="number"].limits--range::placeholder {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-size: var(--font-size-12);
}
